    megs:            32
#    debug_symbols:   file=kernel.elf.sym
#    gdbstub:         enabled=1, port=10000
    romimage:        file=/usr/local/share/bochs/BIOS-bochs-latest
    vgaromimage:     file=/usr/local/share/bochs/VGABIOS-lgpl-latest
    ata0-master:     type=cdrom, path=mock.iso, status=inserted
    boot:            cdrom
    log:             bochs.log
#    clock:           sync=realtime, time0=local
    clock:          sync=realtime, rtc_sync=1
    cpu:             count=1, ips=100000000
    display_library: sdl2 
#    vga: extension=vbe, update_freq=5, realtime=1
